<!--================================= KAT:EVENTS DETAIL PAGE =============================================-->
<section class="container-fluid section-space section-bg-2 events_common" id="events">
  <div class="container">
    <h2 class="center section-heading-bottom">TEACH CHILDREN TO PAINT</h2>
    <div class="row">
      <!--=============== COLUMN-1 ==================-->
      <div class="col-md-6 events-res-common-bottom">
        <div class="left image-bottom">
          <img alt="image" class="img-responsive image-center" src="../assets/images/eventimage_01_main.jpg">
        </div>
      </div>
      <!--=============== COLUMN-2 ==================-->
      <div class="col-md-6">
        <div class="events">
          <ul class="verticalCarouselGroup vc_list">
            <!--=============== ROW-1 ==================-->
            <li>
              <div class="row">

                <div class="col-md-7 col-sm-7">
                  <h3 class="left sub-heading-bottom">
                    <a href="#">EVENT DATE</a>
                  </h3>
                  <p class="left date ls distab-cell-middle date-right">
                    <a href="#">
                      <i aria-hidden="true" class="fa fa-calendar"></i>Mar 13, 2017</a>
                  </p>
                  <p class="left date ls distab-cell-middle">
                    <a href="#">
                      <i aria-hidden="true" class="fa fa-clock-o"></i>09:00 AM - 11:00 AM</a>
                  </p>
                  <p class="left">Cost: $10 for Supplies</p>
                </div>
              </div>
            </li>
            <!--=============== ROW-2 ==================-->
            <li>
              <div class="row">
                <div class="col-md-5 col-sm-5">
                  <div class="left btn-top-3">
                    <a href="#">
                      <div class="common-btn header-btn">Join This Event</div>
                    </a>
                  </div>
                </div>
                <div class="col-md-7 col-sm-7">

                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <!--=============== COLUMN-1 ==================-->
        <div class="col-md-11 p-5 events-res-common-bottom">
          <div class="left image-bottom"></div>
          <h3 class="left sub-heading-bottom">
            <a href="#">PAINT WITH A PURPOSE</a>
          </h3>
                  <p class="left intro ls">In our ongoing commitment to give back to our local communities, Painting with a Twist® proudly sponsors a monthly fund raising
                    events – Painting with a Purpose. Proceeds from Painting with a Purpose events are donated to local non-profit organizations.
                    Painting with a Twist has donated over 4 million dollars to local non-profit organizations such as Habitat for Humanity,
                    Multiple Sclerosis and Odyssey House. We are committed to giving back to the local community, one painting at at time.</p>
          <h3 class="left sub-heading-bottom">
            <a href="#">About This Class</a>
          </h3>
          <p class="left intro ls">Bring $10 for supplies!</p>
          <p class="left">
            This is a Painting with A Purpose charity event, one of Painting with a Twist's monthly commitment to the local community.
            Seating is limited these events typically sell out so don't wait to make your reservation. This event is OPEN
            TO THE PUBLIC! More information is available at: @SeeYaLaterWashington
          </p>
          <p class="left">
            For more information on how local Non-Profit organizations participate in Painting With A Purpose, call the studio: (253)
            735-0308.</p>
          <p class="left">
            Sip. Paint. Relax. A little bit of paint, a little bit of wine and a whole lot of fun! </p>
          <p class="left">
            We're excited to see you in the studio! Please arrive 15 min before class so we can welcome you to the studio, show you around,
            answer any questions and make sure you're comfortable in your seat. You are always welcome to come early, stay
            late and enjoy the studio or our outside patio .We offer local wines and craft beer as well as a full menu at
            affordable prices.
          </p>
          <p class="left">
            If you’re coming with others and making reservations separately, please give us your group’s name or point person in the
            Special Request box. We'll make seat you sit together!
          </p>
          <p class="left">
            FINDING US: We are across the street from the Outlet Collection (formerly known as The Super Mall) in Auburn, at 920 15th
            St SW. We are at the intersection you would turn into for the theatres. We have nearly 3000 sq ft of studio space
            and plenty of free parking. Look for our large illuminated Painting with a Twist Signs!
          </p>
          <p class="left">
            REFUND/CANCELLATION POLICY: We'd rather see you in the studio, but we know life happens! If you must cancel less than 24
            hours notice, we are happy to provided a non-expiring gift certificate for you to use on your next visit. We
            cannot provide refunds or credits for No Shows.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!--================================= KAT:EVENTS DETAIL PAGE =============================================-->


<section class="container-fluid section-bg-2 about_common" id="about">
  <div class="container">
    <h2 class="center section-heading-bottom">WHO'S ALREADY COMING?</h2>
    <div class="row">

      <!--================= PERSON =================-->
      <div class="col-md-3 col-xs-3 common-full">
        <div class="left res-image-bottom res-about-bottom">
          <img src="../assets/images/profile_brianjaimes.png" alt="image" class="img-responsive" />
        </div>
      </div>

      <div class="col-md-3 col-xs-3 common-full">
        <div class="name-top">
          <h3 class="left sub-heading-bottom">BRIAN JAIMES</h3>
          <p class="left volunteer ls">Co-Founder</p>
          <!--================= SOCIAL ICON =================-->
          <div class="left social-top">
            <div class="center btn-top-3">
              <a href="#">
                <div class="common-btn header-btn">View Profile</div>
              </a>
            </div>
          </div>
          <!--================= SOCIAL ICON =================-->
        </div>
      </div>
      <!--================= END OF PERSON =================-->




      <!--================= PERSON =================-->
      <div class="col-md-3 col-xs-3 common-full">
        <div class="left res-image-bottom res-about-bottom">
          <img src="../assets/images/profile_ryanmartin.png" alt="image" class="img-responsive" />
        </div>
      </div>

      <div class="col-md-3 col-xs-3 common-full">
        <div class="name-top">
          <h3 class="left sub-heading-bottom">RYAN MARTIN</h3>
          <p class="left volunteer ls">Co-Founder</p>
          <!--================= SOCIAL ICON =================-->
          <div class="left social-top">
            <div class="center btn-top-3">
              <a href="#">
                <div class="common-btn header-btn">View Profile</div>
              </a>
            </div>
          </div>
          <!--================= SOCIAL ICON =================-->
        </div>
      </div>
      <!--================= END OF PERSON =================-->



      <!--================= PERSON =================-->
      <div class="col-md-3 col-xs-3 common-full pt-5">
        <div class="left res-image-bottom res-about-bottom">
          <img src="../assets/images/profile_katalderman.jpg" alt="image" class="img-responsive" />
        </div>
      </div>

      <div class="col-md-3 col-xs-3 common-full">
        <div class="name-top">
          <h3 class="left sub-heading-bottom">KAT ALDERMAN</h3>
          <p class="left volunteer ls">Co-Founder</p>
          <!--================= SOCIAL ICON =================-->
          <div class="left social-top">
            <div class="center btn-top-3">
              <a href="#">
                <div class="common-btn header-btn">View Profile</div>
              </a>
            </div>
          </div>
          <!--================= SOCIAL ICON =================-->
        </div>
      </div>
      <!--================= END OF PERSON =================-->

      <!--================= PERSON =================-->
      <div class="col-md-3 col-xs-3 common-full pt-5">
        <div class="left res-image-bottom res-about-bottom">
          <img src="../assets/images/profile_nickborbe.jpeg" alt="image" class="img-responsive" />
        </div>
      </div>

      <div class="col-md-3 col-xs-3 common-full">
        <div class="name-top">
          <h3 class="left sub-heading-bottom">NICK BORBE</h3>
          <p class="left volunteer ls">Help Desk</p>
          <!--================= SOCIAL ICON =================-->
          <div class="left social-top">
            <div class="center btn-top-3">
              <a href="#">
                <div class="common-btn header-btn">View Profile</div>
              </a>
            </div>
          </div>
          <!--================= SOCIAL ICON =================-->
        </div>
      </div>
      <!--================= END OF PERSON =================-->

    </div>
  </div>
</section>