<div class="clear-floats"></div>
<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 myCols">
                <h5>Get started</h5>
                <ul>
                    <li>
                        <a routerLink="signup">Sign up</a>
                    </li>
                    <li>
                        <a routerLink="login">Login</a>
                    </li>
                    <li>
                        <a routerLink="">Why Join?</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 myCols">
                <h5>About CauseConnect</h5>
                <ul>
                    <li>
                        <a routerLink="">About us</a>
                    </li>
                    <li>
                        <a routerLink="">Contact us</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 myCols">
                <h5>Legal</h5>
                <ul>
                    <li>
                        <a routerLink="">Terms of Service</a>
                    </li>
                    <li>
                        <a routerLink="">Terms of Use</a>
                    </li>
                    <li>
                        <a routerLink="">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="social-networks">
        <a href="http://twitter.com" class="twitter">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="http://facebook.com" class="facebook">
            <i class="fa fa-facebook-square"></i>
        </a>
        <a href="http://google.com" class="google">
            <i class="fa fa-google-plus"></i>
        </a>
    </div>
    <div class="footer-copyright">
        <p>© 2018 Copyright
            <a routerLink="home">CauseConnect</a> - Made with ♥ at
            <a href="https://www.ironhack.com/en/locations/miami">Ironhack Miami</a>. </p>
    </div>
</footer>