<div class="titles">

    <h1>Our Nonprofit Organizations</h1>
</div>
<div class=".img-fluid. max-width: 100%;">
    <img src="../assets/images/Organizations-student-drive.jpg" class="img-fluid" alt="Responsive image">
</div>
<div class="titles">
    <h1>Community</h1>
    <div class="row">
        <div class="col-6 col-md-4">
            <img src="../assets/images/community-ACLU.jpg" class="img-responsive">
        </div>
        <div class="col-6 col-md-4">
            <img src="../assets/images/education-youth.jpg" class="img-responsive">
        </div>
        <div class="col-6 col-md-4">
            <img src="../assets/images/miami-coalition-for-the-homeless.png" class="img-responsive">
        </div>
    </div>
    <div class="titles">
        <h1>Children & Youth</h1>
    </div>

    <div class="titles">
        <h1>Education & Youth</h1>
    </div>

    <div class="titles">
        <h1> Arts & Culture</h1>
    </div>

    <div class="titles">
        <h1>Environement</h1>
    </div>