<!-- <header> -->
<!-- Fixed navbar -->
<!-- <nav class="navbar navbar-expand-md navbar-dark navbar-bgcolor"> -->
<!-- <header> -->
  <!-- Fixed navbar -->
  <!-- <nav class="navbar navbar-expand-md navbar-dark navbar-bgcolor">
    <a class="navbar-brand" href="#">CauseConnect</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/signup']">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profile']">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/organizations']">Organizations</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>
 -->



<!--================================= NAVIGATION START =============================================-->
<!-- <nav class="navbar navbar-default navbar-fixed-top menu-bg menu_comsel navbar-bgcolor" id="top-nav">
  <div class="container">
    <div class="navigation-tb">
      <div class="navbar-header"> -->
<!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->

<!-- <div>
          <a href="#">
            <img src="images/logo.png" alt="logo" />
          </a>
        </div>
      </div> -->

<!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="navbar-nav no-margin">
          <li class="menu-fs menu-underline nav-item">
            <a href="#home" class="pagescroll">HOME</a>
          </li>

          <li class="menu-fs menu-underline nav-item">
            <a href="#about" class="pagescroll">ABOUT US</a>
          </li>

          <li class="menu-fs menu-underline nav-item">
            <a href="#volunteer" class="pagescroll">VOLUNTEER</a>
          </li>

          <li class="menu-fs menu-underline nav-item">
            <a href="#gallery" class="pagescroll">GALLERY</a>
          </li>

          <li class="menu-fs menu-underline nav-item">
            <a href="#events" class="pagescroll">EVENTS</a>
          </li>
        </ul>
      </div>
    </div> -->
<!-- </div> -->
<!-- </nav> -->
<!--================================= NAVIGATION END =============================================-->


<nav class="navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/CauseConnectLogo-navbar.png"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto navbar-right">
     <li class="menu-fs hvr-underline-from-left nav-item" style="margin-right: 1.5em">
        <a href="#events" class="nav-link" [routerLink]="['']">HOME</a>
      </li>
      <li class="menu-fs hvr-underline-from-left nav-item" style="margin-right: 1.5em">
        <a class="nav-link" class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="menu-fs hvr-underline-from-left nav-item" style="margin-right: 1.5em">
        <a href="#events" class="nav-link" [routerLink]="['/signup']">Signup</a>
      </li>
      <li class="menu-fs hvr-underline-from-left nav-item" style="margin-right: 1.5em">
        <a href="#events" class="nav-link" [routerLink]="['/profile']">Profile</a>
      </li>
      <li class="menu-fs hvr-underline-from-left nav-item" style="margin-right: 1.5em">
        <a href="#events" class="nav-link" [routerLink]="['/events']">Events</a>
      </li>
      <li class="menu-fs hvr-underline-from-left nav-item">
        <a href="#events" class="nav-link" [routerLink]="['/organizations']">Organizations</a>
      </li> 
    </ul>
  </div>
</nav>
