<!--================================= KAT: EVENTS LISTING PAGE =============================================-->
<section class="container-fluid section-space section-bg-2 events_common" id="events">
  <div class="container">
    <h2 class="center section-heading-bottom">UPCOMING EVENTS</h2>
    <div class="row">
      <div class="col-md-12 events-res-common-bottom">
        <!--=============== ROW ==================-->


        <div class="row pt-5">
          <div class="col-md-5 col-sm-5">
            <div class="left res-image-bottom-1">
              <img alt="image" class="img-responsive" src="../assets/images/eventimage_01.jpg">
            </div>
          </div>
          <div class="col-md-7 col-sm-7">
            <h3 class="left sub-heading-bottom">
              <a [routerLink]="['/eventdetails']">TEACH CHILDREN TO PAINT</a>
            </h3>
            <p class="left date ls distab-cell-middle date-right">
              <a href="#">
                <i aria-hidden="true" class="fa fa-calendar"></i>Mar 13, 2017</a>
            </p>
            <p class="left date ls distab-cell-middle">
              <a href="#">
                <i aria-hidden="true" class="fa fa-clock-o"></i>09:00 AM - 11:00 AM</a>
            </p>
            <p class="left">In our ongoing commitment to give back to our local communities, Painting with a Twist® proudly sponsors a monthly
              fund raising events – Painting with a Purpose. Proceeds from Painting with a Purpose events are donated to
              local non-profit organizations. Painting with a Twist has donated over 4 million dollars to local non-profit
              organizations such as Habitat for Humanity, Multiple Sclerosis and Odyssey House. We are committed to giving
              back to the local community, one painting at at time.</p>
            <div class="left btn-top-3">
              <a [routerLink]="['/eventdetails']">
                <div class="common-btn header-btn">Join This Event</div>
              </a>
            </div>

          </div>
        </div>

        <!--=============== ROW ==================-->
        <!--=============== ROW ==================-->

        <div class="row pt-5">
          <div class="col-md-5 col-sm-5">
            <div class="left res-image-bottom-1">
              <img alt="image" class="img-responsive" src="../assets/images/eventimage_02.jpg">
            </div>
          </div>
          <div class="col-md-7 col-sm-7">
            <h3 class="left sub-heading-bottom">
              <a href="#">TEEN RAVE</a>
            </h3>
            <p class="left date ls distab-cell-middle date-right">
              <a href="#">
                <i aria-hidden="true" class="fa fa-calendar"></i>Mar 13, 2017</a>
            </p>
            <p class="left date ls distab-cell-middle">
              <a href="#">
                <i aria-hidden="true" class="fa fa-clock-o"></i>09:00 AM - 11:00 AM</a>
            </p>
            <p class="left">Junior high and high students, along with their parents can enjoy a DJ and a night of fun with their peers, all
              under one roof!
            </p>
            <div class="left btn-top-3">
              <a href="#">
                <div class="common-btn header-btn">Join This Event</div>
              </a>
            </div>
          </div>
        </div>

        <!--=============== ROW ==================-->
        <!--=============== ROW ==================-->

        <div class="row pt-5">
          <div class="col-md-5 col-sm-5">
            <div class="left res-image-bottom-1">
              <img alt="image" class="img-responsive" src="../assets/images/eventimage_03.jpg">
            </div>
          </div>
          <div class="col-md-7 col-sm-7">
            <h3 class="left sub-heading-bottom">
              <a href="#">TREE PLANTING AT MARKHAM PARK</a>
            </h3>
            <p class="left date ls distab-cell-middle date-right">
              <a href="#">
                <i aria-hidden="true" class="fa fa-calendar"></i>Mar 13, 2017</a>
            </p>
            <p class="left date ls distab-cell-middle">
              <a href="#">
                <i aria-hidden="true" class="fa fa-clock-o"></i>09:00 AM - 11:00 AM</a>
            </p>
            <p class="left">When the holidays are long gone but your tree isn't, it's time to chip in and donate your used evergreen to our
              annual Chip-a-Tree initiative. Last year Broward County Parks recycled more than 5,100 trees, or the equivalent
              of 357.72 metric tonnes, which probably would otherwise have gone to landfills. That amount accounted for 15
              percent of Broward Parks' greenhouse gas reduction efforts for all of 2016. This year your tree can join those
              recyclable thousands.</p>
            <div class="left btn-top-3">
              <a href="#">
                <div class="common-btn header-btn">Join This Event</div>
              </a>
            </div>
          </div>
        </div>

        <!--=============== ROW ==================-->
        <!--=============== ROW ==================-->

        <div class="row pt-5">
          <div class="col-md-5 col-sm-5">
            <div class="left res-image-bottom-1">
              <img alt="image" class="img-responsive" src="../assets/images/eventimage_04.jpg">
            </div>
          </div>
          <div class="col-md-7 col-sm-7">
            <h3 class="left sub-heading-bottom">
              <a href="#">SAVE THE CHEETAHS</a>
            </h3>
            <p class="left date ls distab-cell-middle date-right">
              <a href="#">
                <i aria-hidden="true" class="fa fa-calendar"></i>Mar 13, 2017</a>
            </p>
            <p class="left date ls distab-cell-middle">
              <a href="#">
                <i aria-hidden="true" class="fa fa-clock-o"></i>09:00 AM - 11:00 AM</a>
            </p>
            <p class="left">CCF supporters and board members Kathy and Jim Snowden, Paul Zemitzsch, and Virginia Busch invite you to a special
              evening of conservation and understanding about the world’s fastest land animal, the cheetah, with internationally-acclaimed
              expert, Dr. Laurie Marker. Hear directly from Dr. Marker why the 2018 World Wildlife Day focused on Big Cats,
              including the endangered cheetah and how we can all help to save the species.</p>
            <div class="left btn-top-3">
              <a href="#">
                <div class="common-btn header-btn">Join This Event</div>
              </a>
            </div>
          </div>
        </div>

        <!--=============== ROW ==================-->
        <!--=============== ROW ==================-->

        <div class="row pt-5">
          <div class="col-md-5 col-sm-5">
            <div class="left res-image-bottom-1">
              <img alt="image" class="img-responsive" src="../assets/images/eventimage_05.jpg">
            </div>
          </div>
          <div class="col-md-7 col-sm-7">
            <h3 class="left sub-heading-bottom">
              <a href="#">BIG SISTER APPRECIATION DANCE-A-THON</a>
            </h3>
            <p class="left date ls distab-cell-middle date-right">
              <a href="#">
                <i aria-hidden="true" class="fa fa-calendar"></i>Mar 13, 2017</a>
            </p>
            <p class="left date ls distab-cell-middle">
              <a href="#">
                <i aria-hidden="true" class="fa fa-clock-o"></i>09:00 AM - 11:00 AM</a>
            </p>
            <p class="left">November 4, 2017 at The Plaza Theater Our 10th Annual Spin on “Dancing with the Stars” El Pasoans step up as
              Star Dancers & Judges to raise money & awareness for Big Brothers Big Sisters mentoring. Dancers set a $3,000
              fundraising goal & prep with free dance lessons courtesy of New Horizons Dance Academy, Desert Eagle Productions,
              El Paso DanceWorks, and Shundo Ballroom Dance Studio. The hard work culminates with a fabulous night out with
              live music & spectacular dance performances.</p>
            <div class="left btn-top-3">
              <a href="#">
                <div class="common-btn header-btn">Join This Event</div>
              </a>
            </div>
          </div>
        </div>

        <!--=============== ROW ==================-->
        <!--=============== ROW ==================-->

        <div class="row pt-5">
          <div class="col-md-5 col-sm-5">
            <div class="left res-image-bottom-1">
              <img alt="image" class="img-responsive" src="../assets/images/eventimage_06.jpg">
            </div>
          </div>
          <div class="col-md-7 col-sm-7">
            <h3 class="left sub-heading-bottom">
              <a href="#">READING IS FUNDAMENTAL</a>
            </h3>
            <p class="left date ls distab-cell-middle date-right">
              <a href="#">
                <i aria-hidden="true" class="fa fa-calendar"></i>Mar 13, 2017</a>
            </p>
            <p class="left date ls distab-cell-middle">
              <a href="#">
                <i aria-hidden="true" class="fa fa-clock-o"></i>09:00 AM - 11:00 AM</a>
            </p>
            <p class="left">Celebration of Reading activities include a private, intimate luncheon for top business supporters and members
              of the Bush family; a VIP cocktail reception and photo opportunity; and the always-entertaining reading event,
              featuring best-selling Guest Authors followed by dinner.</p>
            <div class="left btn-top-3">
              <a href="#">
                <div class="common-btn header-btn">Join This Event</div>
              </a>
            </div>
          </div>
        </div>

        <!--=============== ROW ==================-->


      </div>
      <!-- </ul> -->
    </div>
  </div>
  <!-- </div>
        </div> -->
</section>
<!--================================= KAT: END OF EVENTS LISTING PAGE =============================================-->