<h2> Login to CauseConnect </h2>

<form>
  <div>
    <div class="form-group">
      <h4>Username: </h4>
      <input type="text" class="form-control" [(ngModel)]="formInfo.username" name="username" id="login_username" placeholder="Username">
    </div>
    <div class="form-group">
      <h4>Password: </h4>
      <input type="password" class="form-control" [(ngModel)]="formInfo.password" name="password" id="login_password" placeholder="Password">
    </div>
    <button (click)="login()" class="btn btn-success">Log In</button>
  </div>
</form>
<p class="error"> {{ error }} </p>


<div *ngIf="formInfo.username" style="background-color: chocolate">
		<h2> You are now logged in as {{ formInfo.username }}!! </h2>
		<p> Here's the user object </p>
		<pre> {{ formInfo | json }} </pre>
		<div>
        <a routerLink="/profile/{{formInfo.username}}">Go to Profile page</a>
        <button (click)="logout()">Log Out</button>
		</div>
</div>
