
<section class="container-fluid section-space section-bg-2 events_common" id="events">
    <div class="container">
        <h2 class="center section-heading-bottom">ORGANIZATION DETAILS</h2>
        <div class="row"> 
            <!--=============== COLUMN-1 ==================-->
            <div class="col-md-12 events-res-common-bottom">
                <div class="left image-bottom">
                    <!-- <img alt="image" class="img-responsive image-center" src="../assets/images/community-justice-details.png"> -->
                    <img alt="image" style="width:100%" class="img-responsive image-center" src="../assets/images/criminal-bg1.jpg">

                  </div>
                <h3 class="center sub-heading-bottom">
                    <a href="#">OUR MISSION</a>

                 
                </h3>
                <p class="center intro ls">We are the Community Justice Project.<br> 
                  Somos el Proyecto de Justicia Comunitaria. <br>
                  Nou se Pwojè Jistis Kominotè a.</p>
                <p class="center">We are community lawyers. In our legal work we collaborate closely with community organizers and grassroots groups in low-income communities of color because we believe that a more democratic, more just and more equal society can only truly come about through grassroots organizing and social movement.
                   We are a part of that social movement in South Florida and strive to support organizing through our varied and often innovative legal work.</p>
            </div> 
            <!--=============== COLUMN-2 ==================-->
            <div class="col-md-6">
                <div class="events">
                    <ul class="verticalCarouselGroup vc_list"> 
                        <!--=============== ROW-1 ==================-->
                        <!-- <li>
                            <div class="row">
                                <div class="col-md-5 col-sm-5">
                                    <div class="left res-image-bottom-1">
                                        <img alt="image" class="img-responsive" src="../assets/images/community-fb.jpg">
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-7">
                                    <h3 class="left sub-heading-bottom">
                                        <a href="#">Human Rights Watch Miami: Screening & Discussion</a>
                                    </h3>
                                    <p class="left date ls distab-cell-middle date-right">
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-calendar"></i>June 4, 2018</a>
                                    </p>
                                    <p class="left date ls distab-cell-middle">
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-clock-o"></i>6PM-9PM</a>
                                    </p>
                                    <p class="left">Human Rights Watch, OUTSHINE Film Festival, the Freedom Fund Network, 
                                        Our Fund Foundation and filmmaker George Zuber are pleased to announce a social justice evening 
                                        with a focus on the conditions and injustices that befall transgender people within the U.S. prison system. </p>
                                </div>
                            </div>
                        </li>  -->
                        <!--=============== ROW-2 ==================-->
                        <!-- <li>
                            <div class="row">
                                <div class="col-md-5 col-sm-5">
                                    <div class="left res-image-bottom-1">
                                        <img alt="image" class="img-responsive" src="../assets/images/community-fb1.jpg">
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-7">
                                    <h3 class="left sub-heading-bottom">
                                        <a href="#"></a>
                                    </h3>
                                    <p class="left date ls distab-cell-middle date-right">
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-calendar"></i>June 4, 2018</a>
                                    </p>
                                    <p class="left date ls distab-cell-middle">
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-clock-o"></i>09:00 AM - 11:00 AM</a>
                                    </p>
                                    <p class="left">Human Rights Watch, OUTSHINE Film Festival, the Freedom Fund Network, 
                                      Our Fund Foundation and filmmaker George Zuber are pleased to announce a social justice evening 
                                      with a focus on the conditions and injustices that befall transgender people within the U.S. prison system. 
                                      The centerpiece of the evening is the premiere of the documentary film, Where Justice Ends, and an open discussion 
                                      moderated by award-winning WLRN reporter, Nadege Green. </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">  -->
<!---END PAGE-->
                <!-- <p>
                    organization-details works!
                  </p>
                  <section class="container-fluid section-space section-bg-2 events_common" id="events">
                      <div class="container">
                          <h2 class="center section-heading-bottom">ORGANIZATION DETAILS</h2>
                          <div class="row">  -->
                              <!--=============== COLUMN-1 ==================-->
                              <!-- <div class="col-md-6 events-res-common-bottom">
                                  <div class="left image-bottom">
                                      <img alt="image" class="img-responsive image-center" src="../assets/images/community-justice-project-of-florida.png">
                                  </div>
                                  <h3 class="left sub-heading-bottom">
                                      <a href="#">OUR MISSION</a>
                  
                                   
                                  </h3>
                                  <p class="left intro ls">We are the Community Justice Project.<br> 
                                    Somos el Proyecto de Justicia Comunitaria. <br>
                                    Nou se Pwojè Jistis Kominotè a.</p>
                                  <p class="left">We are community lawyers. In our legal work we collaborate closely with community organizers and grassroots groups in low-income communities of color because we believe that a more democratic, more just and more equal society can only truly come about through grassroots organizing and social movement.
                                     We are a part of that social movement in South Florida and strive to support organizing through our varied and often innovative legal work.</p>
                              </div>  -->
                              <!--=============== COLUMN-2 ==================-->
                              <!-- <div class="col-md-6">
                                  <div class="events">
                                      <ul class="verticalCarouselGroup vc_list">  -->
                                          <!--=============== ROW-1 ==================-->
                                          <!-- <li>
                                              <div class="row">
                                                  <div class="col-md-5 col-sm-5">
                                                      <div class="left res-image-bottom-1">
                                                          <img alt="image" class="img-responsive" src="../assets/images/community-fb.jpg">
                                                      </div>
                                                  </div>
                                                  <div class="col-md-7 col-sm-7">
                                                      <h3 class="left sub-heading-bottom">
                                                          <a href="#">Human Rights Watch Miami: Screening & Discussion</a>
                                                      </h3>
                                                      <p class="left date ls distab-cell-middle date-right">
                                                          <a href="#">
                                                              <i aria-hidden="true" class="fa fa-calendar"></i>June 4, 2018</a>
                                                      </p>
                                                      <p class="left date ls distab-cell-middle">
                                                          <a href="#">
                                                              <i aria-hidden="true" class="fa fa-clock-o"></i>6PM-9PM</a>
                                                      </p>
                                                      <p class="left">Human Rights Watch, OUTSHINE Film Festival, the Freedom Fund Network, 
                                                          Our Fund Foundation and filmmaker George Zuber are pleased to announce a social justice evening 
                                                          with a focus on the conditions and injustices that befall transgender people within the U.S. prison system. </p>
                                                  </div>
                                              </div>
                                          </li>  -->
                                          <!--=============== ROW-2 ==================-->
                                          <!-- <li>
                                              <div class="row">
                                                  <div class="col-md-5 col-sm-5">
                                                      <div class="left res-image-bottom-1">
                                                          <img alt="image" class="img-responsive" src="../assets/images/community-fb1.jpg">
                                                      </div>
                                                  </div>
                                                  <div class="col-md-7 col-sm-7">
                                                      <h3 class="left sub-heading-bottom">
                                                          <a href="#"></a>
                                                      </h3>
                                                      <p class="left date ls distab-cell-middle date-right">
                                                          <a href="#">
                                                              <i aria-hidden="true" class="fa fa-calendar"></i>June 4, 2018</a>
                                                      </p>
                                                      <p class="left date ls distab-cell-middle">
                                                          <a href="#">
                                                              <i aria-hidden="true" class="fa fa-clock-o"></i>09:00 AM - 11:00 AM</a>
                                                      </p>
                                                      <p class="left">Human Rights Watch, OUTSHINE Film Festival, the Freedom Fund Network, 
                                                        Our Fund Foundation and filmmaker George Zuber are pleased to announce a social justice evening 
                                                        with a focus on the conditions and injustices that befall transgender people within the U.S. prison system. 
                                                        The centerpiece of the evening is the premiere of the documentary film, Where Justice Ends, and an open discussion 
                                                        moderated by award-winning WLRN reporter, Nadege Green. </p>
                                                  </div>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="row">  -->