<!--================================= BUY NOW START =============================================-->
<section class="container-fluid section-space section-bg-1 fund_common skills-1 section-bg-2 about_common">
    <div class="container">
        <h2 class="center section-heading-bottom">PARTICIPATING NON-PROFIT ORGANIZATIONS</h2>
        <div class="row">
            <!--=============== COLUMN-1 ==================-->
            <div class="col-md-4 col-sm-4">
                    <div class="center">
                        <div class="img-sizing">
                            <img src="../assets/images/client_id_2.jpg" alt="image" class="img-responsive image-center" />
                        </div>
                    </div>
                    <div class="center btn-top-3">
                        <a href="#">
                            <div class="common-btn fund-btn">Organization Details</div>
                        </a>
                    </div>
                </div>

            <!--=============== COLUMN-2 ==================-->
            <div class="col-md-4 col-sm-4 res-common-bottom-1">
                <div class="center">
                    <div class="img-sizing">
                        <img src="../assets/images/cjp.png" alt="image" class="img-responsive image-center" />
                    </div>
                </div>
                <div class="center btn-top-3">
                    <a href="/organization-details">
                        <div class="common-btn fund-btn">Organization Details</div>
                    </a>
                </div>
            </div>

            <!--=============== COLUMN-3 ==================-->
            <div class="col-md-4 col-sm-4">
                <div class="center">
                    <div class="img-sizing">
                        <img src="../assets/images/education-youth.jpg" alt="image" class="img-responsive image-center" />
                    </div>
                </div>
                <div class="center btn-top-3">
                    <a href="#">
                        <div class="common-btn fund-btn">Organization Details</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================COLUMN-3 end===========================-->

<!--================================= Organization Details START =============================================-->
<section class="container-fluid section-space section-bg-1 fund_common skills-1 section-bg-2">
    <div class="container">
        <h2 class="center section-heading-bottom"></h2>
        <div class="row">
            <!--=============== COLUMN-1 ==================-->
            <div class="col-md-4 col-sm-4 res-common-bottom-1">
                <div class="center">
                    <div class="img-sizing">
                        <img src="../assets/images/170-area-stage.png" alt="image" class="img-responsive image-center" />
                    </div>
                </div>
                <div class="center btn-top-3">
                    <a href="#">
                        <div class="common-btn fund-btn">Organization Details</div>
                    </a>
                </div>
            </div>

            <!--=============== COLUMN-2 ==================-->
            <div class="col-md-4 col-sm-4 res-common-bottom-1">
                <div class="center">
                    <div class="img-sizing">
                        <img src="../assets/images/170-close-up-foundation.jpg" alt="image" class="img-responsive image-center" />
                    </div>
                </div>
                <div class="center btn-top-3">
                    <a href="#">
                        <div class="common-btn fund-btn">Organization Details</div>
                    </a>
                </div>
            </div>

            <!--=============== COLUMN-3 ==================-->
            <div class="col-md-4 col-sm-4">
                <div class="center">
                    <div class="img-sizing">
                        <img src="../assets/images/170-americans-for-immigrant-justice.jpg" alt="image" class="img-responsive image-center" />
                    </div>
                </div>
                <div class="center btn-top-3">
                    <a href="#">
                        <div class="common-btn fund-btn">Organization Details</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================= Organization Details START =============================================-->
<section class="container-fluid section-space section-bg-1 fund_common skills-1 section-bg-2">
    <div class="container">
        <h2 class="center section-heading-bottom"></h2>
        <div class="row">
            <!--=============== COLUMN-1 ==================-->
            <div class="col-md-4 col-sm-4 res-common-bottom-1">
                <div class="center">
                    <div class="img-sizing">
                        <img src="../assets/images/client_id_.jpg" alt="image" class="img-responsive image-center" />
                    </div>
                </div>
                <div class="center btn-top-3">
                    <a href="#">
                        <div class="common-btn fund-btn">Organization Details</div>
                    </a>
                </div>
            </div>

            <!--=============== COLUMN-2 ==================-->
            <div class="col-md-4 col-sm-4 res-common-bottom-1">
                <div class="center">
                    <div class="img-sizing">
                        <img src="../assets/images/client_id_1.png" alt="image" class="img-responsive image-center" />
                    </div>
                </div>
                <div class="center btn-top-3">
                    <a href="#">
                        <div class="common-btn fund-btn">Organization Details</div>
                    </a>
                </div>
            </div>

            <!--=============== COLUMN-3 ==================-->
            <div class="col-md-4 col-sm-4 res-common-bottom-1">
                <div class="center">
                    <div class="img-sizing">
                        <img src="../assets/images/170-cyber-civil-rights.jpg" alt="image" class="img-responsive image-center" />
                    </div>
                </div>
                <div class="center btn-top-3">
                    <a href="#">
                        <div class="common-btn fund-btn">Organization Details</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================= KAT:EVENTS DETAIL PAGE =============================================-->
<!-- <section class="container-fluid section-space section-bg-2 events_common" id="events">
    <div class="container">
        <h2 class="center section-heading-bottom">UPCOMING EVENTS</h2>
        <div class="row"> -->
<!--=============== COLUMN-1 ==================-->
<!-- <div class="col-md-6 events-res-common-bottom">
                <div class="left image-bottom">
                    <img alt="image" class="img-responsive image-center" src="../assets/images/750x400.jpg">
                </div>
                <h3 class="left sub-heading-bottom">
                    <a href="#">CHILD EDUCATION IN AFRICA</a>
                </h3>
                <p class="left intro ls">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum</p>
                <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum.
                    Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat dui
                    tellus in quam.</p>
            </div> -->
<!--=============== COLUMN-2 ==================-->
<!-- <div class="col-md-6">
                <div class="events">
                    <ul class="verticalCarouselGroup vc_list"> -->
<!--=============== ROW-1 ==================-->
<!-- <li>
                            <div class="row">
                                <div class="col-md-5 col-sm-5">
                                    <div class="left res-image-bottom-1">
                                        <img alt="image" class="img-responsive" src="../assets/images/400x270x1.jpg">
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-7">
                                    <h3 class="left sub-heading-bottom">
                                        <a href="#">WORLD PEACE</a>
                                    </h3>
                                    <p class="left date ls distab-cell-middle date-right">
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-calendar"></i>Mar 13, 2017</a>
                                    </p>
                                    <p class="left date ls distab-cell-middle">
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-clock-o"></i>09:00 AM - 11:00 AM</a>
                                    </p>
                                    <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam,
                                        vel sagittis ipsum. Curabitur eleifend</p>
                                </div>
                            </div>
                        </li> -->
<!--=============== ROW-2 ==================-->
<!-- <li>
                            <div class="row">
                                <div class="col-md-5 col-sm-5">
                                    <div class="left res-image-bottom-1">
                                        <img alt="image" class="img-responsive" src="../assets/images/400x270x2.jpg">
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-7">
                                    <h3 class="left sub-heading-bottom">
                                        <a href="#">SAVE WATER</a>
                                    </h3>
                                    <p class="left date ls distab-cell-middle date-right">
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-calendar"></i>Mar 13, 2017</a>
                                    </p>
                                    <p class="left date ls distab-cell-middle">
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-clock-o"></i>09:00 AM - 11:00 AM</a>
                                    </p>
                                    <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam,
                                        vel sagittis ipsum. Curabitur eleifend</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row"> -->
<!--=============== COLUMN-1 ==================-->
<!-- <div class="col-md-11 p-5 events-res-common-bottom">
                    <div class="left image-bottom"></div>
                    <h3 class="left sub-heading-bottom">
                        <a href="#">CHILD EDUCATION IN AFRICA</a>
                    </h3>
                    <p class="left intro ls">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum</p>
                    <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum.
                        Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique velit, ullamcorper feugiat
                        dui tellus in quam.</p>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!--================================= KAT:EVENTS DETAIL PAGE =============================================-->

<section class="container-fluid section-bg-2 about_common pt-5 pb-5" id="about">
    <div class="container">
        <h2 class="center section-heading-bottom">WHO'S ALREADY COMING?</h2>
        <div class="row">

            <!--================= PERSON =================-->
            <div class="col-md-3 col-xs-3 common-full">
                <div class="left res-image-bottom res-about-bottom">
                    <img src="../assets/images/profile_brianjaimes.png" alt="image" class="img-responsive" />
                </div>
            </div>

            <div class="col-md-3 col-xs-3 common-full">
                <div class="name-top">
                    <h3 class="left sub-heading-bottom">BRIAN JAIMES</h3>
                    <p class="left volunteer ls">Co-Founder</p>
                    <!--================= SOCIAL ICON =================-->
                    <div class="left social-top">
                        <div class="center btn-top-3">
                            <a href="#">
                                <div class="common-btn header-btn">View Profile</div>
                            </a>
                        </div>
                    </div>
                    <!--================= SOCIAL ICON =================-->
                </div>
            </div>
            <!--================= END OF PERSON =================-->


            <!--================= PERSON =================-->
            <div class="col-md-3 col-xs-3 common-full">
                <div class="left res-image-bottom res-about-bottom">
                    <img src="../assets/images/profile_ryanmartin.png" alt="image" class="img-responsive" />
                </div>
            </div>

            <div class="col-md-3 col-xs-3 common-full">
                <div class="name-top">
                    <h3 class="left sub-heading-bottom">RYAN MARTIN</h3>
                    <p class="left volunteer ls">Co-Founder</p>
                    <!--================= SOCIAL ICON =================-->
                    <div class="left social-top">
                        <div class="center btn-top-3">
                            <a href="#">
                                <div class="common-btn header-btn">View Profile</div>
                            </a>
                        </div>
                    </div>
                    <!--================= SOCIAL ICON =================-->
                </div>
            </div>
            <!--================= END OF PERSON =================-->



            <!--================= PERSON =================-->
            <div class="col-md-3 col-xs-3 common-full pt-5">
                <div class="left res-image-bottom res-about-bottom">
                    <img src="../assets/images/profile_katalderman.jpg" alt="image" class="img-responsive" />
                </div>
            </div>

            <div class="col-md-3 col-xs-3 common-full">
                <div class="name-top">
                    <h3 class="left sub-heading-bottom">KAT ALDERMAN</h3>
                    <p class="left volunteer ls">Co-Founder</p>
                    <!--================= SOCIAL ICON =================-->
                    <div class="left social-top">
                        <div class="center btn-top-3">
                            <a href="#">
                                <div class="common-btn header-btn">View Profile</div>
                            </a>
                        </div>
                    </div>
                    <!--================= SOCIAL ICON =================-->
                </div>
            </div>
            <!--================= END OF PERSON =================-->

            <!--================= PERSON =================-->
            <div class="col-md-3 col-xs-3 common-full pt-5">
                <div class="left res-image-bottom res-about-bottom">
                    <img src="../assets/images/profile_nickborbe.jpeg" alt="image" class="img-responsive" />
                </div>
            </div>

            <div class="col-md-3 col-xs-3 common-full">
                <div class="name-top">
                    <h3 class="left sub-heading-bottom">NICK BORBE</h3>
                    <p class="left volunteer ls">Help Desk</p>
                    <!--================= SOCIAL ICON =================-->
                    <div class="left social-top">
                        <div class="center btn-top-3">
                            <a href="#">
                                <div class="common-btn header-btn">View Profile</div>
                            </a>
                        </div>
                    </div>
                    <!--================= SOCIAL ICON =================-->
                </div>
            </div>
            <!--================= END OF PERSON =================-->

        </div>
    </div>
</section>