<p>Signup Route works!</p>
<h2> Signup for CauseConnect </h2>
<form action="/signup" method="POST">
  <div>
    <div class="form-group">
      <label for="firstname">Firstname: </label>
      <input class="form-control" type="text" name="firstname" placeholder="John">
    </div>
    <div class="form-group">
      <label for="lastname">Lastname: </label>
      <input class="form-control" type="text" name="lastname" placeholder="Smith">
    </div>
    <div class="form-group">
      <label for="email">Email Address: </label>
      <input class="form-control" type="email" name="email" placeholder="jsmith@email.com">
    </div>
    <div class="form-group">
      <label for="password">Password: </label>
      <input class="form-control" type="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
    <button type="submit" class="btn btn-success">Login</button>
  </div>
</form>

<a [routerLink]="['/login']"> login </a>
<a [routerLink]="['/signup']"> signup </a>
<a [routerLink]="['/profile']"> profile </a>
<a [routerLink]="['']"> home </a>