<h2> Signup for CauseConnect </h2>
<form>
  <div>
    <div class="form-group">
      <label for="email">Email Address: </label>
      <input class="form-control" type="email" [(ngModel)]="formInfo.email" name="email" placeholder="jsmith@email.com">
    </div>
      <div class="form-group">
          <label for="username">Username: </label>
          <input class="form-control" type="text" [(ngModel)]="formInfo.username" name="username" placeholder="John Smith">
      </div>
    <div class="form-group">
      <label for="password">Password: </label>
      <input class="form-control" type="password" [(ngModel)]="formInfo.password" name="password">
    </div>
   
      <label>Causes: </label>
      <!-- <input class="form-control" type="button" [(ngModel)]="formInfo.causes" name="causes"> -->
    <!-- Buttons for profile causes selection
    a [(ngModel)]forminfo.causes will need to be constructed to communicate user selection -->
  <div class="container">
    <div class="row">
      <div class="col">  
        <img class="img-responsive" src="../assets/images/educ.png" />
      </div>
      <div class="col">
          <img class="img-responsive" src="/../assets/images/animals.png" />
      </div>
      <div class="col">
        <img class="img-responsive" src="../assets/images/civic.png" />
      </div>
      <div class="col">
        <img class="img-responsive" src="../assets/images/housing.png" />
      </div>
    </div>

      <div class="row">
        <div class="col">
            <img class="img-responsive" src="../assets/images/agriculture.png" />
          </div>
          <div class="col">
              <img class="img-responsive" src="/../assets/images/disability.png" />
          </div>
          <div class="col">
            <img class="img-responsive" src="../assets/images/housing.png" />
          </div>
          <div class="col">
            <img class="img-responsive" src="../assets/images/science-tech.png" />
          </div>

        </div>

      

    </div>
  

    <button type="submit" (click)="signup()" class="btn btn-primary">Sign Up</button>
  </div>
</form>


<a [routerLink]="['/login']"> login </a>
<a [routerLink]="['/signup']"> signup </a>
<a [routerLink]="['/profile']"> profile </a>
<a [routerLink]="['']"> home </a>