<div class="container-fluid">
  <div class="row">
    <div class="profile-images">
      <img align="left" class="cover-photo" src="https://storage.googleapis.com/proudcity/deleontx/uploads/2016/12/preview-wattpad-cover-maker-thumbnail.jpg"
        alt="Cover Photo" width="2000" height="500" />
      <img align="left" class="profile-image thumbnail" src="https://loremflickr.com/320/240" alt="Profile Photo" />
      <div class="profile-username">
        <h1>{{ formInfo.username }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8">

      <div data-spy="scroll" class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <li class="active">
              <a data-toggle="tab">
                About
                <b> {{ formInfo.username }}</b>
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_default_1">
              <h4>Name</h4>
              <input id="name" [(ngModel)]="profile.name" name="name">
              <h4>Background </h4>
              <input id="background-text" [(ngModel)]="profile.aboutUser" name="aboutUser">
              <h4>Experience </h4>
              <input id="experience-text" [(ngModel)]="profile.volunteerExperience" name="experience">
              <h4>Skills</h4>
              <input id="skills-text" [(ngModel)]="profile.skills" name="skills">
              <h4>Causes</h4>
              <span class="causes-buttons"><br></span>
              <button type="submit" class="btn btn-danger btn-block">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="row">
        <div data-spy="scroll" class="tabbable-panel">
          <div class="tabbable-line">
            <div class="menu_title">
              Contact Info
            </div>
            <div class="panel-body">
              <div class="col-lg-12">
                <div class="form-group">
                  <h6 for="email">E-mail:</h6>
                  <input [(ngModel)]="profile.email" name="email">
                </div>
                <div class="form-group">
                  <h6 for="phone">Phone Number:</h6>
                  <input [(ngModel)]="profile.phone" name="phone">
                </div>
                <div class="form-group">
                  <h6 for="linkedin">Linkedin:</h6>
                  <input [(ngModel)]="profile.linkedin" name="linkedin">
                </div>
                <div class="form-group">
                  <h6 for="facebook">Facebook</h6>
                  <input [(ngModel)]="profile.facebook" name="facebook">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a [routerLink]="['/login']"> login </a>
<a [routerLink]="['/signup']"> signup </a>
<a [routerLink]="['/profile']"> profile </a>
<a [routerLink]="['']"> home </a>