<br>
<div *ngIf="formInfo.email" style="background-color: chocolate" class="update-user-form">
  <input type="email "ngModel="{{formInfo.email}}" class="form-control" placeholder="email">
  <br>
  <input type="text" ngModel="{{formInfo.username}}" class="form-control" placeholder="username">
  <br>
  <input type="password" ngModel="{{formInfo.password}}" class="form-control" placeholder="password">
  <br>
  <button (click)="updateformInfo()" class="btn bth-info">Update</button>
  <br>
  <p> Here's the user object </p>
  <pre> {{ formInfo | json }} </pre>
  <div>
    <a [routerLink]="['/login']">Go to Login</a>
    <button (click)="logout()">Log Out</button>
  </div>
</div>

<a [routerLink]="['/login']"> login </a>
<a [routerLink]="['/signup']"> signup </a>
<a [routerLink]="['/profile']"> profile </a>
<a [routerLink]="['']"> home </a>