:host {
  display: block;
}

.divImages {
  max-width: 99.5%;
  padding-left: 1.5px;
}

.contentDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.contentOfDiv {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.imageDiv {
  height: 130px;
  width: 100%;
}

.opportunity-one{
  margin-left: 45px;
  margin-top: 20px;
}

.opportunity-three{

}

/* .header-bgimage {
  background-image: url("../assets/images/Organizations-student-drive.jpg");
} */
.header-bgimage {
  background-image: url(/assets/images/organizations-student-drive.jpg);
  /* background-image: url(/assets/images/T-JaWuan-James.jpg); */
}
/* CTA start */
/* .cta-bgimage {
  background-image: url(cta_bgimage.jpg);
} */