<!--================================= HEADER START =============================================-->
<!-- Carousel 3 img's without captions -->
<!-- <div id="Carousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="Carousel" data-slide-to="0" class="active"></li>
                <li data-target="Carousel" data-slide-to="1"></li>
                <li data-target="Carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active">
                    
                    <img src="../assets/images/organizations-student-drive.jpg" class="img-responsive">
                    
                </div>
                    

                <div class="item">
                    <img src="../assets/images/miami-skyline-at-night.jpg" class="img-responsive">
                </div>
                <div class="item">
                    <img src="../assets/images/dolphins-stop-hunger.jpg" class="img-responsive">
                </div>
            </div>

            <span class="left carousel-control" data-target="#Carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </span>
            <span class="right carousel-control" data-target="#Carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </span>
            </div>  -->

<!--bootstrap carousel with caption start-->

<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                            <img src="../assets/images/organizations-student-drive.jpg" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>...</h5>
                                <p>...</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                            <img src="..." alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>...</h5>
                                <p>...</p>
                            </div>
                            </div>
                        </div>
                    <div class="carousel-item">
                            <img src="..." alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>...</h5>
                            <p>...</p>
                            </div>
                        </div>
                    </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div> -->

<!--================================= HEADER END =============================================-->

<!-- HEADER START -->
<div class="header-bgimage bgimage-property header-section-space header_common" id="home">

    <div class="header-bgimage">
        <img src="../assets/images/heroimage.png" alt="image" class="img-responsive divImages img-fluid" />
    </div>
    <div class="container">
        <div class="col-md-12 column-center no-padding white-text">
            <h1 class="center header-text"></h1>
            <div class="center btn-top-3">
                <a href="#">
                    <div class="common-btn header-btn">Set up a profile now</div>
                </a>
            </div>
        </div>
    </div>
</div>

<!--================================= FUNDRAISE START =============================================-->
<section class="container-fluid section-space section-bg-1 fund_common skills-1">
    <div class="container">
        <h2 class="center section-heading-bottom">FEATURED ORGANIZATION OPPORTUNITIES</h2>
        <div class="row">
            <!--=============== COLUMN-1 ==================-->
            <div class="col-md-4 col-sm-4 res-common-bottom-1">
                <div class="fund-bg contentDiv">
                    <div class="left">
                        <div class="image-class imageDiv opportunity-one">
                            <img src="../assets/images/170-early-learning-coalition-of-miami.jpg" alt="image" class="img-responsive divImages" />
                        </div>
                    </div>
                    <div class="content-pad contentOfDiv">
                        <div id="topBlockOfContent">
                            <h3 class="left sub-heading-bottom">
                                <a href="#">Early Learning Coalition</a>
                            </h3>
                            <p class="left">To promote high-quality school readiness, voluntary pre-kindergarten and after school programs,
                                thus increasing all children's chances of achieving future educational success and becoming
                                productive members of society.</p>
                        </div>
                        <div id="bottomBlockOfContent">
                            <div class="div-right skill-bar-percent">
                                <div class="right ls count distab-cell-middle">0</div>
                                <div class="distab-cell-middle">%</div>
                            </div>
                            <div class="skillbar clearfix" data-percent="0%">
                                <div class="skill-progress-1 progressbar"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p class="left goal ls">EVENTS</p>
                                    <p class="left amount ls">3</p>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p class="right goal ls">OPEN JOBS</p>
                                    <p class="right amount ls">5</p>
                                </div>
                            </div>
                            <div class="center btn-top-3">
                                <a href="#">
                                    <div class="common-btn fund-btn">See Organization Details</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--=============== COLUMN-2 ==================-->
            <div class="col-md-4 col-sm-4 res-common-bottom-1">
                <div class="fund-bg contentDiv">
                    <div class="left imageDiv">
                        <img src="../assets/images/cleo-enviro.png" alt="image" class="img-responsive divImages" />
                    </div>
                    <div class="content-pad contentOfDiv">
                        <div id="topBlockOfContent">
                            <h3 class="left sub-heading-bottom">
                                <a href="#">The CLEO Institute</a>
                            </h3>
                            <p class="left">CLEO stands for Climate Leadership Engagement Opportunities, which we create and provide to individuals,
                                groups, schools, businesses, municipalities, and elected leaders. We want everyone to better
                                understand the science of climate change and the dangers and disruptions it poses.</p>
                        </div>
                        <div id="bottomBlockOfContent">
                            <div class="div-right skill-bar-percent">
                                <div class="right ls count distab-cell-middle">50</div>
                                <div class="distab-cell-middle">%</div>
                            </div>
                            <div class="skillbar clearfix" data-percent="50%">
                                <div class="skill-progress-1 progressbar"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p class="left goal ls">EVENTS</p>
                                    <p class="left amount ls">3</p>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p class="right goal ls">OPEN JOBS</p>
                                    <p class="right amount ls">6</p>
                                </div>
                            </div>
                            <div class="center btn-top-3">
                                <a href="#">
                                    <div class="common-btn fund-btn">See Organization Details</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--=============== COLUMN-3 ==================-->
            <div class="col-md-4 col-sm-4">
                <div class="fund-bg contentDiv">

                    <div class="left organization-photos imageDiv opportunity-three">
                        <img src="../assets/images/cjp.png" alt="image" class="img-responsive divImages" />
                    </div>
                    <div class="content-pad contentOfDiv">
                        <div id="topBlockOfContent">
                            <h3 class="left sub-heading-bottom">
                                <a href="#">Community Justice Project of Forida</a>
                            </h3>
                            <p class="left">We are community lawyers. In our legal work we collaborate closely with community organizers
                                and grassroots groups in low-income communities of color because we believe that a more democratic,
                                more just and more equal society can only truly come about through grassroots organizing
                                and social movement. We are a part of that social movement in South Florida and strive to
                                support organizing through our varied and often innovative legal work.</p>
                        </div>
                        <div id="bottomBlockOfContent">
                            <div class="div-right skill-bar-percent">
                                <div class="right ls count distab-cell-middle">70</div>
                                <div class="distab-cell-middle">%</div>
                            </div>
                            <div class="skillbar clearfix" data-percent="70%">
                                <div class="skill-progress-1 progressbar"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p class="left goal ls">EVENTS</p>
                                    <p class="left amount ls">6</p>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p class="right goal ls">OPEN JOBS</p>
                                    <p class="right amount ls">2</p>
                                </div>
                            </div>
                            <div class="center btn-top-3">
                                <a href="#">
                                    <div class="common-btn fund-btn">See Organization Details</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================= FUND RAISE END =============================================-->

<!--================================= ABOUT US START =============================================-->
<section class="container-fluid section-space section-bg-2 about_common" id="about">
    <div class="container">
        <h2 class="center section-heading-bottom">ABOUT US</h2>
        <div class="row">
            <!--=============== COLUMN-1 ==================-->
            <div class="col-md-6 col-sm-6 about-res-common-bottom">
                <div class="left image-bottom">
                    <img src="../assets/images/CauseConnectLogo.png" alt="image" class="img-responsive image-center" />
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 res-image-bottom-1">
                        <h3 class="left sub-heading-bottom">
                            <a href="#">VISION</a>
                        </h3>
                        <p class="left">Unite local non-profits with their respective cause supporting volunteers.</p>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h3 class="left sub-heading-bottom">
                            <a href="#">MISSION</a>
                        </h3>
                        <p class="left">CauseConnect aims to solve the disconnect prohibiting organizations from finding willing volunteers
                            by providing a directory of causes, upcoming events, and users.</p>
                    </div>
                </div>
            </div>

            <!--=============== COLUMN-2 ==================-->
            <div class="col-md-6 col-sm-6">
                <div class="about-verticalcarousel">
                    <div class="verticalCarouselHeader">
                        <a href="#" class="vc_goDown">
                            <i class="fa fa-fw fa-angle-down"></i>
                        </a>
                        <a href="#" class="vc_goUp">
                            <i class="fa fa-fw fa-angle-up"></i>
                        </a>
                    </div>
                    <ul class="verticalCarouselGroup vc_list">
                        <!--=============== ROW-1 ==================-->
                        <li>
                            <div class="row">
                                <div class="col-md-6 col-xs-6 common-full">
                                    <div class="left res-image-bottom res-about-bottom">
                                        <img src="../assets/images/kat_headshot.png" alt="image" class="img-responsive" />
                                    </div>
                                </div>

                                <div class="col-md-6 col-xs-6 common-full">
                                    <div class="name-top">
                                        <h3 class="left sub-heading-bottom">KAT ALDERMAN</h3>
                                        <p class="left volunteer ls">Developer</p>
                                        <!--================= SOCIAL ICON =================-->
                                        <div class="left social-top">
                                            <ul class="no-padding no-margin social-icon">
                                                <li>
                                                    <a href="#">
                                                        <img src="../assets/images/social_1.png" alt="icon" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="../assets/images/social_2.png" alt="icon" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="../assets/images/social_3.png" alt="icon" />
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--================= SOCIAL ICON =================-->
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!--=============== ROW-2 ==================-->
                        <li>
                            <div class="row">
                                <div class="col-md-6 col-xs-6 common-full">
                                    <div class="left res-image-bottom res-about-bottom">
                                        <img src="../assets/images/ryan_headshot.png" alt="image" class="img-responsive" />
                                    </div>
                                </div>

                                <div class="col-md-6 col-xs-6 common-full">
                                    <div class="name-top">
                                        <h3 class="left sub-heading-bottom">RYAN MARTIN</h3>
                                        <p class="left volunteer ls">Developer</p>
                                        <!--================= SOCIAL ICON =================-->
                                        <div class="left social-top">
                                            <ul class="no-padding no-margin social-icon">
                                                <li>
                                                    <a href="#">
                                                        <img src="../assets/images/social_1.png" alt="icon" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="../assets/images/social_2.png" alt="icon" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="../assets/images/social_3.png" alt="icon" />
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--================= SOCIAL ICON =================-->
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!--=============== ROW-3 ==================-->
                        <li>
                            <div class="row">
                                <div class="col-md-6 col-xs-6 common-full">
                                    <div class="left res-image-bottom res-about-bottom">
                                        <img src="../assets/images/brian_headshot.png" alt="image" class="img-responsive" />
                                    </div>
                                </div>

                                <div class="col-md-6 col-xs-6 common-full">
                                    <div class="name-top">
                                        <h3 class="left sub-heading-bottom">BRIAN JAIMES</h3>
                                        <p class="left volunteer ls">Developer</p>
                                        <!--================= SOCIAL ICON =================-->
                                        <div class="left social-top">
                                            <ul class="no-padding no-margin social-icon">
                                                <li>
                                                    <a href="#">
                                                        <img src="../assets/images/social_1.png" alt="icon" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="../assets/images/social_2.png" alt="icon" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="../assets/images/social_3.png" alt="icon" />
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--================= SOCIAL ICON =================-->
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================= ABOUT US END =============================================-->

<!--================================= CONTRIBUTE START =============================================-->
<section class="container-fluid cta-bgimage bgimage-property section-space white-text cta_common">
    <div class="container">
        <div class="row">
            <!--=============== COLUMN-1 ==================-->
            <div class="col-md-7">
                <p class="center intro ls">Ready To Contribute</p>
                <h2 class="center heading-bottom">MAKE A DIFFERENCE THROUGH OUR COLLECTIVE PHILANTHROPY DRIVES</h2>
                <!-- <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur diam, vel sagittis ipsum.
                        Curabitur eleifend, risus id sollicitudin pretium, massa ex tristique </p> -->
                <div class="center btn-top-3">
                    <a href="#">
                        <div class="common-btn cta-btn">Donate Now</div>
                    </a>
                </div>
            </div>

            <!--=============== COLUMN-2 ==================-->
            <div class="col-md-5">
                <div class="row counter-top">
                    <div class="col-md-4 col-sm-4 res-common-bottom-1">
                        <div class="center icon-bottom">
                            <img src="../assets/images/64x64x7.png" alt="icon" />
                        </div>
                        <p class="center counter-num count ls">500</p>
                        <p class="center counter-sub ls"> AWARDS </p>
                    </div>

                    <div class="col-md-4 col-sm-4 res-common-bottom-1">
                        <div class="center icon-bottom">
                            <img src="../assets/images/64x64x8.png" alt="icon" />
                        </div>
                        <p class="center counter-num count ls">3500</p>
                        <p class="center counter-sub ls"> VOLUNTEERS</p>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="center icon-bottom">
                            <img src="../assets/images/64x64x9.png" alt="icon" />
                        </div>
                        <p class="center counter-num count ls">680</p>
                        <p class="center counter-sub ls"> PROJECTS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================= CONTRIBUTE END =============================================-->


<!--================================= OUR OTHER FEATURES START =============================================-->
<section class="container-fluid section-space section-bg-1 features_common">
    <div class="container">
        <h2 class="center section-heading-bottom">OUR OTHER CAUSES</h2>
        <div class="row">
            <!--=============== COLUMN-1 ==================-->
            <div class="col-md-4 col-sm-4 col-xs-6 feat-row-bottom res-service-bottom common-full">
                <div class="services-bg">
                    <div class="center image-bottom">
                        <img src="../assets/images/64x64x1.png" alt="image" />
                    </div>
                    <h3 class="center">
                        <a href="#">MAKE DONATION</a>
                    </h3>
                    <div class="uline"></div>
                    <!-- <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur </p> -->
                </div>
            </div>

            <!--=============== COLUMN-2 ==================-->
            <div class="col-md-4 col-sm-4 col-xs-6 feat-row-bottom res-service-bottom common-full">
                <div class="services-bg">
                    <div class="center image-bottom">
                        <img src="../assets/images/64x64x2.png" alt="image" />
                    </div>
                    <h3 class="center">
                        <a href="#">CHILD EDUCATION PROGRAM</a>
                    </h3>
                    <div class="uline"></div>
                    <!-- <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur </p> -->
                </div>
            </div>

            <!--=============== COLUMN-3 ==================-->
            <div class="col-md-4 col-sm-4 col-xs-6 feat-row-bottom res-service-bottom common-full">
                <div class="services-bg">
                    <div class="center image-bottom">
                        <img src="../assets/images/64x64x3.png" alt="image" />
                    </div>
                    <h3 class="center">
                        <a href="#">ADOPT A CHILD</a>
                    </h3>
                    <div class="uline"></div>
                    <!-- <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur </p> -->
                </div>
            </div>

            <!--=============== COLUMN-4 ==================-->
            <div class="col-md-4 col-sm-4 col-xs-6 res-service-bottom common-full">
                <div class="services-bg">
                    <div class="center image-bottom">
                        <img src="../assets/images/64x64x4.png" alt="image" />
                    </div>
                    <h3 class="center">
                        <a href="#">DONATE BLOOD</a>
                    </h3>
                    <div class="uline"></div>
                    <!-- <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur </p> -->
                </div>
            </div>

            <!--=============== COLUMN-5 ==================-->
            <div class="col-md-4 col-sm-4 col-xs-6 common-full res-service-bottom-1">
                <div class="services-bg">
                    <div class="center image-bottom">
                        <img src="../assets/images/64x64x5.png" alt="image" />
                    </div>
                    <h3 class="center">
                        <a href="#">COLLEGE EDUCATION PROGRAM</a>
                    </h3>
                    <div class="uline"></div>
                    <!-- <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur </p> -->
                </div>
            </div>

            <!--=============== COLUMN-6 ==================-->
            <div class="col-md-4 col-sm-4 col-xs-6 common-full">
                <div class="services-bg">
                    <div class="center image-bottom">
                        <img src="../assets/images/64x64x6.png" alt="image" />
                    </div>
                    <h3 class="center">
                        <a href="#">SAVE THE EARTH</a>
                    </h3>
                    <div class="uline"></div>
                    <!-- <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra efficitur </p> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================= OUR OTHER FEATURES END =============================================-->

<!--================================= VOLUNTEER START =============================================-->
<section class="container-fluid section-space section-bg-2 volunteer_common" id="volunteer">
    <div class="container">
        <h2 class="center section-heading-bottom">AWESOME VOLUNTEERS</h2>
        <div class="row">
            <!--=============== COLUMN-1 ==================-->
            <div class="col-md-8 res-common-bottom res-common-bottom-1">
                <div id="owl-volunteer" class="owl-carousel owl-theme no-margin no-padding">
                    <!--=============== COLUMN-1 ==================-->
                    <div class="item">
                        <div class="center image-bottom">
                            <img src="../assets/images/ian_hs.png" alt="image" class="img-responsive image-center" />
                        </div>
                        <h3 class="center sub-heading-bottom">IAN BERRYMAN</h3>
                        <p class="center volunteer ls">Business Consultant</p>
                        <!--================= SOCIAL ICON =================-->
                        <div class="center social-top">
                            <ul class="no-padding no-margin social-icon">
                                <li>
                                    <a href="#">
                                        <img src="../assets/images/social_1.png" alt="icon" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../assets/images/social_2.png" alt="icon" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../assets/images/social_3.png" alt="icon" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--================= SOCIAL ICON =================-->
                    </div>

                    <!--=============== COLUMN-2 ==================-->
                    <div class="item">
                        <div class="center image-bottom">
                            <img src="../assets/images/sandra_sc.png" alt="image" class="img-responsive image-center" />
                        </div>
                        <h3 class="center sub-heading-bottom">SANDRA RUTLAND</h3>
                        <p class="center volunteer ls">Programmer</p>
                        <!--================= SOCIAL ICON =================-->
                        <div class="center social-top">
                            <ul class="no-padding no-margin social-icon">
                                <li>
                                    <a href="#">
                                        <img src="../assets/images/social_1.png" alt="icon" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../assets/images/social_2.png" alt="icon" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../assets/images/social_3.png" alt="icon" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--================= SOCIAL ICON =================-->
                    </div>

                    <!--=============== COLUMN-3 ==================-->
                    <div class="item">
                        <div class="center image-bottom">
                            <img src="../assets/images/marcos_hs.png" alt="image" class="img-responsive image-center" />
                        </div>
                        <h3 class="center sub-heading-bottom">MARCOS HACKER</h3>
                        <p class="center volunteer ls">Architect</p>
                        <!--================= SOCIAL ICON =================-->
                        <div class="center social-top">
                            <ul class="no-padding no-margin social-icon">
                                <li>
                                    <a href="#">
                                        <img src="../assets/images/social_1.png" alt="icon" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../assets/images/social_2.png" alt="icon" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../assets/images/social_3.png" alt="icon" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--================= SOCIAL ICON =================-->
                    </div>

                    <!--=============== COLUMN-4 ==================-->
                    <div class="item">
                        <div class="center image-bottom">
                            <img src="../assets/images/nick_hs.png" alt="image" class="img-responsive image-center" />
                        </div>
                        <h3 class="center sub-heading-bottom">NICK MELTON</h3>
                        <p class="center volunteer ls">Cardiologist</p>
                        <!--================= SOCIAL ICON =================-->
                        <div class="center social-top">
                            <ul class="no-padding no-margin social-icon">
                                <li>
                                    <a href="#">
                                        <img src="../assets/images/social_1.png" alt="icon" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../assets/images/social_2.png" alt="icon" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../assets/images/social_3.png" alt="icon" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--================= SOCIAL ICON =================-->
                    </div>

                </div>
            </div>

            <!--=============== COLUMN-2 ==================-->
            <div class="col-md-4">
                <div class="white-text box-bg">
                    <div class="center image-bottom">
                        <img src="../assets/images/200x200x1.png" alt="image" />
                    </div>
                    <p class="center need ls">WELCOME TO CAUSECONNECT</p>
                    <h3 class="center sub-heading-bottom">BECOME A VOLUNTEER</h3>
                    <p class="center"> Join CauseConnect, and start making a difference in your community today. </p>
                    <div class="center btn-top-3">
                        <a [routerLink]="['/signup']">
                            <div class="common-btn volunteer-btn">JOIN NOW!</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================= VOLUNTEER END =============================================-->

<!--================================= EMAIL SUBSCRIPTION START =============================================-->
<section class="container-fluid subscription-bgimage bgimage-property section-space white-text subscription_common">
    <div class="container">
        <div class="col-md-10 column-center no-padding">
            <h2 class="center section-heading-bottom">EMAIL SUBSCRIPTION</h2>
            <div id="mc_embed_signup">
                <div class="col-md-5 col-sm-6 col-xs-8 column-center no-padding">
                    <div class="form-top">
                        <!--================= YOUR MAILCHIMP ACCOUNT URL HERE ====================-->
                        <form class="subscribe_form" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" action="http://evethemes.us11.list-manage.com/subscribe/post?u=a795532c55a578843e04b09c0&amp;id=fa362f029a"
                            novalidate>
                            <!--================= EMAIL INPUT BOX HERE ====================-->
                            <div class="clearfix">
                                <input class="form_input place_error" id="mce-EMAIL" type="email" name="EMAIL" placeholder="Your Email (required)" />
                            </div>

                            <!--================= SUBSCRIBE BUTTON HERE ====================-->
                            <div class="center btn-top-4">
                                <input type="submit" id="mc-embedded-subscribe" class="common-btn email-btn" name="submit" value="SUBSCRIBE">
                            </div>

                            <!--================= SUCCESS AND FAILURE MESSAGE HERE =================-->
                            <div class="center" id="ResultMsg">
                                <span id="SuccessMsg" class="email-success  indicator-top"></span>
                                <span id="FailureMsg" class="email-failure  indicator-top"></span>
                            </div>

                            <div id="mce-responses">
                                <div class="response response-msg" id="mce-error-response"></div>
                                <div class="response response-msg" id="mce-success-response"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--===================== TESTIMONIAL END =======================-->

<!--================================= UPCOMING EVENTS START =============================================-->
<section class="container-fluid section-space section-bg-2 events_common" id="events">
        <div class="container">
            <h2 class="center section-heading-bottom">UPCOMING EVENTS</h2>
            <div class="row">
                <!--=============== COLUMN-1 ==================-->
                <div class="col-md-6 events-res-common-bottom">
                    <div class="left image-bottom">
                        <img src="../assets/images/eventimage_01.jpg" alt="image" class="img-responsive image-center" />
                    </div>
                    <h3 class="left sub-heading-bottom">
                        <a [routerLink]="['/eventdetails']">TEACH CHILDREN TO PAINT</a>
                    </h3>
                    <p class="left intro ls">In our ongoing commitment to give back to our local communities, Painting with a Twist® proudly sponsors a monthly fund raising
                    events – Painting with a Purpose. Proceeds from Painting with a Purpose events are donated to local non-profit organizations.
                    Painting with a Twist has donated over 4 million dollars to local non-profit organizations such as Habitat for Humanity,
                    Multiple Sclerosis and Odyssey House. We are committed to giving back to the local community, one painting at at time.</p>
                <a [routerLink]="['/eventdetails']">
                    <div class="common-btn header-btn">Join This Event</div>
                </a>
                
                </div>
                
                <!--=============== COLUMN-2 ==================-->
                <div class="col-md-6">
                    <div class="events">
                        <div class="verticalCarouselHeader">
                            <a href="#" class="vc_goDown">
                                <i class="fa fa-fw fa-angle-down"></i>
                            </a>
                            <a href="#" class="vc_goUp">
                                <i class="fa fa-fw fa-angle-up"></i>
                            </a>
                        </div>
                        <ul class="verticalCarouselGroup vc_list">
                            <!--=============== ROW-1 ==================-->
                            <li>
                                <div class="row">
                                    <div class="col-md-5 col-sm-5">
                                        <div class="left res-image-bottom-1">
                                            <img src="../assets/images/eventimage_02.jpg" alt="image" class="img-responsive" />
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        <h3 class="left sub-heading-bottom">
                                            <a [routerLink]="['/eventdetails']">TEEN RAVE</a>
                                        </h3>
                                        <p class="left date ls distab-cell-middle date-right">
                                            <a [routerLink]="['/eventdetails']">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>Mar 13, 2017</a>
                                        </p>
                                        <p class="left date ls distab-cell-middle">
                                            <a [routerLink]="['/eventdetails']">
                                                <i class="fa fa-clock-o" aria-hidden="true"></i>09:00 AM - 11:00 AM</a>
                                        </p>
                                        <p class="left">Junior high and high students, along with their parents can enjoy a DJ and a night of fun with their peers, all under one
                                        roof!</p>
                                        <div class="left btn-top-1">
                                            <a [routerLink]="['/eventdetails']">
                                                <div class="common-btn header-btn" role="button">Join This Event</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!--=============== ROW-2 ==================-->
                            <li>
                                <div class="row">
                                    <div class="col-md-5 col-sm-5">
                                        <div class="left res-image-bottom-1">
                                            <img src="../assets/images/eventimage_03.jpg" alt="image" class="img-responsive" />
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        <h3 class="left sub-heading-bottom">
                                            <a [routerLink]="['/eventdetails']">TREE PLANTING AT MARKHAM PARK</a>
                                        </h3>
                                        <p class="left date ls distab-cell-middle date-right">
                                            <a [routerLink]="['/eventdetails']">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>Mar 13, 2017</a>
                                        </p>
                                        <p class="left date ls distab-cell-middle">
                                            <a [routerLink]="['/eventdetails']">
                                                <i class="fa fa-clock-o" aria-hidden="true"></i>09:00 AM - 11:00 AM</a>
                                        </p>
                                        <p class="left">When the holidays are long gone but your tree isn't, it's time to chip in and donate your used evergreen to our annual Chip-a-Tree
                                        initiative.</p>
                                            <div class="left btn-top-1">
                                                <a [routerLink]="['/eventdetails']">
                                                    <div class="common-btn header-btn">Join This Event</div>
                                                </a>
                                            </div>
                                    </div>
                                </div>
                            </li>
                            <!--=============== ROW-3 ==================-->
                            <li>
                                <div class="row">
                                    <div class="col-md-5 col-sm-5">
                                        <div class="left res-image-bottom-1">
                                            <img src="../assets/images/eventimage_04.jpg" alt="image" class="img-responsive" />
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        <h3 class="left sub-heading-bottom">
                                            <a [routerLink]="['/eventdetails']">SAVE THE CHEETAHS</a>
                                        </h3>
                                        <p class="left date ls distab-cell-middle date-right">
                                            <a [routerLink]="['/eventdetails']">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>Mar 13, 2017</a>
                                        </p>
                                        <p class="left date ls distab-cell-middle">
                                            <a [routerLink]="['/eventdetails']">
                                                <i class="fa fa-clock-o" aria-hidden="true"></i>09:00 AM - 11:00 AM</a>
                                        </p>
                                        <p class="left">CF supporters and board members Kathy and Jim Snowden, Paul Zemitzsch, and Virginia Busch invite you to a special evening
                                        of conservation.</p>
                                            <div class="left btn-top-1">
                                                <a [routerLink]="['/eventdetails']">
                                                    <div class="common-btn header-btn">Join This Event</div>
                                                </a>
                                            </div>
                                    </div>
                                </div>
                            </li>
                            <!--=============== ROW-4 ==================-->
                            <li>
                                <div class="row">
                                    <div class="col-md-5 col-sm-5">
                                        <div class="left res-image-bottom-1">
                                            <img src="../assets/images/eventimage_05.jpg" alt="image" class="img-responsive" />
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        <h3 class="left sub-heading-bottom">
                                            <a [routerLink]="['/eventdetails']">BIG SISTER APPRECIATION DANCE-A-THON</a>
                                        </h3>
                                        <p class="left date ls distab-cell-middle date-right">
                                            <a [routerLink]="['/eventdetails']">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>Mar 13, 2017</a>
                                        </p>
                                        <p class="left date ls distab-cell-middle">
                                            <a [routerLink]="['/eventdetails']">
                                                <i class="fa fa-clock-o" aria-hidden="true"></i>09:00 AM - 11:00 AM</a>
                                        </p>
                                        <p class="left">hard work culminates with a fabulous night out with live music & spectacular dance performances.</p>
                                            <div class="left btn-top-1">
                                                <a [routerLink]="['/eventdetails']">
                                                    <div class="common-btn header-btn">Join This Event</div>
                                                </a>
                                            </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================================= UPCOMING EVENTS END =============================================-->

<!--================================= OUR PARTNERS START =============================================-->
<section class="container-fluid section-space section-bg-2 partners_common">
    <div class="container">
        <h2 class="center section-heading-bottom">OUR PARTNERS</h2>
        <div class="row">
            <!--=============== COLUMN-1 ==================-->
            <div class="col-md-12 column-center">
                <div id="owl-partners" class="owl-carousel owl-theme no-margin no-padding">
                    <!--=============== COLUMN-1 ==================-->
                    <div class="item">
                        <div class="center">
                            <img src="../assets/images/heat.png" alt="image" class="img-responsive image-center" />
                        </div>
                    </div>

                    <!--=============== COLUMN-2 ==================-->
                    <div class="item">
                        <div class="center">
                            <img src="../assets/images/floridaBlue.png" alt="image" class="img-responsive image-center" />
                        </div>
                    </div>

                    <!--=============== COLUMN-3 ==================-->
                    <div class="item">
                        <div class="center">
                            <img src="../assets/images/tce.png" alt="image" class="img-responsive image-center" />
                        </div>
                    </div>

                    <!--=============== COLUMN-4 ==================-->
                    <div class="item">
                        <div class="center">
                            <img src="../assets/images/crystal-cruises.jpg" alt="image" class="img-responsive image-center" />
                        </div>
                    </div>

                    <!--=============== COLUMN-5 ==================-->
                    <div class="item">
                        <div class="center">
                            <img src="../assets/images/caribee.png" alt="image" class="img-responsive image-center" />
                        </div>
                    </div>

                    <!--=============== COLUMN-6 ==================-->
                    <div class="item">
                        <div class="center">
                            <img src="../assets/images/robinsmorton.png" alt="image" class="img-responsive image-center" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
    </div>
</section>

<!--================================= OUR PARTNERS END =============================================-->